<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="businesscardapp.businesscardapp" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" />
  <application android:label="businesscardapp" android:theme="@style/MyTheme" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="businesscardapp"></application>
</manifest>